extends layout

block content
  h1 About Downtown Donuts

  p
    | Downtown Donuts has proudly served the downtown community since 1992.
    | This is placeholder content that will be replaced by the client.
