extends layout

block content
  section.comments-section
    .comments-container
      h1 Customer Comments

      form(action="/comments" method="POST" class="comment-form")
        input(
          type="text"
          name="comment"
          placeholder="Write a comment..."
          required
        )
        button(type="submit") Post Comment

      if comments.length
        ul.comment-list
          each c in comments
            li.comment-item= c
      else
        p.no-comments No comments yet. Be the first!
