extends layout

block content
  h1 Customer Comments

  form
    input(type="text" placeholder="Leave a comment")
    button(type="submit") Submit

  ul
    li Lorem ipsum comment
    li Another placeholder comment
