doctype html
html
  head
    title Downtown Donuts
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(
      href="https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@300;400;600&display=swap",
      rel="stylesheet"
    )

  body
    // ===========================
    // NAV BAR
    // ===========================
    nav.navbar
      .nav-container
        a.nav-logo(href="/")
          img(src="/images/logo-cool.png", alt="Downtown Donuts Logo")

        ul.nav-links
          li: a(href="/") Home
          li: a(href="/menu") Menu
          li: a(href="/about") About
          li: a(href="/comments") Comments

    // ===========================
    // PAGE CONTENT
    // ===========================
    block content
