extends layout

block content
  // ===========================
  // MENU PAGE
  // ===========================
  section.menu-section
    h1 Our Donuts
    p Explore our selection of fresh, handmade donuts.

    .menu-grid
      each donut in ["Chocolate Glaze", "Maple Bacon", "Salted Caramel", "Strawberry Frosted", "Cinnamon Sugar", "Blueberry Crumble"]
        .menu-card
          img(src="/images/donut.png", alt="Donut")
          h3= donut
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
